* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('../assets/images/BG-4.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* height: 100vh;
  overflow: hidden; */
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  background-color: #1a1a1a;
}

header {
  background-color: #fff;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

ul {
  display: flex;
  gap: 1rem;
  
  & li {
    list-style: none;
    font-size: 14px;
    gap: 1rem;
  }
}

/* From Uiverse.io by boryanakrasteva */ 
.btn {
  height: 40px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  text-transform: uppercase;
  border: none;
  position: relative;
  background-color: transparent;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.btn::after {
  content: '';
  border-bottom: 3px solid #F3B51B;
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -5px;
  top: 0;
  left: 5px;
  visibility: hidden;
  transition: .2s linear;
}

.btn:hover::after {
  visibility: visible;
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

.btn:hover > .icon {
  transform: translateX(30%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }
}


main {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

/* From Uiverse.io by alexruix */ 
.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: hidden;
 }

 .card-details {
  position: absolute;
  top: 0;
  color: #fff;
  height: 100px;
  width: 100%;
  background-color: #1a1a1a;
  
  & img {
    height: 10rem;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
  }

  & p {
    padding-left: 1rem;
  }
 }

 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #F3B51B;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 6.5rem;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
 }
 
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0.55rem;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card2:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card2:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card3:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card3:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card4:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card4:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card5:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card5:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card6:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card6:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .card7:hover {
  border-color: #F3B51B;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card7:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }